<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="text">

        This web app displays the live weathersun_behind_large_cloud data of any place you want to know!
        </p>
        <p class="test">

        It is created by using Node.js and Express.js.

        </p>
        <p class="test">

        The temperature is accessed by using the WeatherAPI, which provides us with frequently updated weather. It is available
        for both free as well as paid subscriptions!
        </p>
        <h2>This is me!</h2>

        <img class="portrait" src='/img/profile-pic.jpg'>
    </div>

</body>
{{>footer}}

</html>
